.recipe {
  justify-content: left;
  text-align: left;
  max-width: 100%;
  padding-bottom: 20px;
}

.recipe h1 {
  font-size: 3rem;
  white-space: nowrap;
}

.recipe img {
  max-height: 500px;
  max-width: 500px;
}