table.ChangelogTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #4f7a28;
  border-style: solid;
  color: #000000;
}

table.ChangelogTable td, table.ChangelogTable th {
  border-width: 2px;
  border-color: #4f7a28;
  border-style: solid;
  padding: 3px;
}

table.ChangelogTable thead {
  background-color: #77bb41;
}